@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar style */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Removes the white background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Tailwind gray-500 */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }