@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar style */
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
  background: transparent; /* Removes its white background */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; 
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Spinning Loading Screen */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
.custom-spinner {
    background: conic-gradient(from 180deg, rgba(249, 115, 22, 0.1) 10%, #f97316 100%);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 100%);
    mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 100%);
    animation: spin 1s linear infinite;
}

/* Debug Error Message Animation */
@keyframes slide-in-shake {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  50% {
    transform: translateX(0); /* Slide into position */
  }
  60% {
    transform: translateX(-10px); /* Shake left */
  }
  70% {
    transform: translateX(10px); /* Shake right */
  }
  80% {
    transform: translateX(-5px); /* Shake left */
  }
  90% {
    transform: translateX(5px); /* Shake right */
  }
  100% {
    transform: translateX(0); /* Stay still */
  }
}

.animate-slide-in-shake {
  animation: slide-in-shake 1.5s ease-in-out; /* Adjust duration as needed */
}